<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

      <main class="home">
        

        
          <!-- <i class="fa-solid fa-caret-left"></i>
        <img src="imagen-de-ejemplo" alt="Destacados/Ofertas" />
        <i class="fa-solid fa-caret-right"></i>   -->
        <div id="banner">
          <img class="banner-home" src="/images/banner sin plaquita.jpg" alt="graffiti">
          <div class="placa-banner">
            <h3>THEME</h3>
            <H5>TODO LO QUE NECESITAS EN UN MISMO LUGAR</H5>
          </div>
        </div>


        <!-- <div class="contain-3">
        <h3>CATEGORIAS</h3>
      </div> -->

        <section class="productos-home">

          <% for(let categoria of categorias) { %>
            <article>
              <a href="/product/list">
                <img src=<%=categoria.imagen %> alt="img-prod" />
                <label>
                  <%= categoria.nombre %>
                </label>
              </a>
            </article>
            <% } %>

        </section>
      </main>
      <%- include('./partials/footer.ejs') %>
  </body>

</html>