<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

      <main class="home">
        

        
          <!-- <i class="fa-solid fa-caret-left"></i>
        <img src="imagen-de-ejemplo" alt="Destacados/Ofertas" />
        <i class="fa-solid fa-caret-right"></i>   -->
          <img class="banner-home" src="/images/Slide-16_9-3.jpg" alt="graffiti">
      

        <!-- <div class="contain-3">
        <h3>CATEGORIAS</h3>
      </div> -->

        <section class="productos-home">

          <% for(let producto of productos) { %>
            <article>
              <a href="/product">
                <img src=<%=producto.imagen %> alt="home-1" />
                <label>
                  <%= producto.nombre %>
                </label>
              </a>
            </article>
            <% } %>

        </section>
      </main>
      <%- include('./partials/footer.ejs') %>
  </body>

</html>