<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

      <main class="home">

         <!-- Slider main container -->
         <div class="swiper swiper-home">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"><a href="/product/list/1"><img  src="/images/carrusel-home/carrusel-1.jpg" alt="graffiti" ></a></div>
            <div class="swiper-slide"><a href="/product/list/2"><img  src="/images/carrusel-home/carrusel-2.jpg" alt="graffiti" ></a></div>
            <div class="swiper-slide"><a href="/product/list/3"><img  src="/images/carrusel-home/carrusel-4.jpg" alt="graffiti" ></a></div>
            <div class="swiper-slide"><a href="/product/list/4"><img  src="/images/carrusel-home/carrusel-5.jpg" alt="graffiti" ></a></div>
            <div class="swiper-slide"><a href="/product/list/5"><img  src="/images/carrusel-home/carrusel-6.jpg" alt="graffiti" ></a></div>

            
            ...
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

          <!-- If we need scrollbar -->
          <!-- <div class="swiper-scrollbar"></div> -->
        </div>
        
        <div class="resumen-de-la-marca">
          <video class="video-theme" controls >
            <source src="../videos/trim.mp4" type="video/mp4">
          </video> 
          <div class="info-theme">
            <h1>Quienes somos</h1>
            <P> <span style="font-weight: bold;">THEME</span> es una marca que se creó en el 2023, en la época de la convertibilidad, 
              aceptación de nosotros mismos y del resto.
              <br><br>Tiene como objetivo ayudar a las personas a encontrar prendar de ropa diferentes, originales y modernas. Sin tener que luchar 
              con los talles o si una prenda se cataloga para hombre o mujer, ya que creemos que cada uno se tiene que poner lo que más le 
              guste, por lo que <span style="font-weight: bold;">en THEME todo es para todos.</span> 
              <br><br>THEME es un tienda web que brindará toda la información necesaria sobre talles, medidas, materia prima utilizada y otros 
              aspectos informativos necesarios a la hora de comprar una prenda de ropa.</p>

          </div>
        </div>

        <section class="productos-home">
          <% for( let index = 0; index < 5; index++ ) { %>
            <article>
              <a href="/product/list/<%= categorias[index].id %>">
                <img src="/images/categorias/<%=categorias[index].imagen %>" alt="img-prod" />
                <label>
                  <%= categorias[index].nombre %>
                </label>
              </a>
            </article>
            
             <% } %>
             <article>
              <a href="/product/list">
                <img src="../images/ver-todo.jpg" alt="img-prod" />
                <label>
                  +
                </label>
              </a>
            </article>
        </section>
      
        <section class="caracteristicas-compras">
          <div class="infoCaractCompras">
              <i class="fas fa-credit-card"></i>
              <h4>ENVIAMOS TU COMPRA</h4>
              <p>Entregas a todo el país</p>
          </div>
          <div class="infoCaractCompras">
              <i class="fas fa-gift"></i>
              <h4>PAGÁ COMO QUIERAS</h4>
              <p>Tarjetas de crédito o débito</p>
          </div>
          <div class="infoCaractCompras">
              <i class="fas fa-user-shield"></i>
              <h4>COMPRÁ CON SEGURIDAD</h4>
              <p>Tus datos siempre protegidos</p>
          </div>
      </section>
          <section>

      </main>
      <%- include('./partials/footer.ejs') %>
      <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
      <script src="/js/swiper.js"></script>
  </body>

</html>