<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

      <main class="home">
         <!-- Slider main container -->
         <div class="swiper swiper-home">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"><img  src="/images/graffiti/Slide16_9-4.jpg" alt="graffiti" ></div>
            <div class="swiper-slide"><img  src="/images/graffiti/Slide16_9-5.jpg" alt="graffiti" ></div>
            <div class="swiper-slide"><img  src="/images/graffiti/Slide16_9-6.jpg" alt="graffiti" ></div>
            <div class="swiper-slide"><img  src="/images/graffiti/Slide16_9-7.jpg" alt="graffiti" ></div>

            
            ...
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

          <!-- If we need scrollbar -->
          <!-- <div class="swiper-scrollbar"></div> -->
        </div>
        

        <section class="productos-home">
          <% for( let index = 0; index < 5; index++ ) { %>
            <article>
              <a href="/product/list/<%= categorias[index].id %>">
                <img src="/images/categorias/<%=categorias[index].imagen %>" alt="img-prod" />
                <label>
                  <%= categorias[index].nombre %>
                </label>
              </a>
            </article>
            
             <% } %>
             <article>
              <a href="/product/list">
                <img src="../images/ver-todo.jpg" alt="img-prod" />
                <label>
                  +
                </label>
              </a>
            </article>
          

        </section>
      </main>
      <%- include('./partials/footer.ejs') %>
      <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
      <script src="/js/swiper.js"></script>
  </body>

</html>