<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

    <main>
      <div class="admin-actions">
        <a href="/product/crearproducto"
          ><button>NUEVO PRODUCTO <i class="fa-solid fa-plus"></i></button
        ></a>
        <a href="/user/adminUsers"
          ><button>
            ADMINISTRAR USUARIOS <i class="fa-solid fa-users"></i></button
        ></a>
        <a href="/user/profile"
          ><button>
            ADMINISTRAR PERFIL <i class="fa-solid fa-user-tie"></i></button
        ></a>
      </div>

      <section class="admin-items-table">
        <div class="header-tabla-admin">
          <h4></h4>
          <h4>PRODUCTO</h4>
          <h4>PRECIO</h4>
          <h4>CATEGORIA</h4>
          <h4>ESTADO</h4>
          <h4>ACCIONES</h4>
        </div>
        <% if (productos.length>0) { %>
        <div class="row-tabla-admin">
          %> <% productos.forEach(producto=> { %>

          <article>
           <div class="row-img-item">
            <img src="/images/productos/<%=producto.Imagenes[0].nombre %>" />
            </div>
            <p><%= producto.nombre %></p>
            <p>$<%= producto.precio %></p>
            <p><%= producto.Categorias.nombre %></p>
            <p>
              <% if (producto.deletedAT) { %> BAJA <% } else { %> ACTIVO <% } %>
            </p>
            <div class="row-acciones-items">
              <a href="/product/<%= producto.id %>"><i class="fa-solid fa-eye"></i>VER</a>
              <a href="/product/<%= producto.id %>/editform"><i class="fa-solid fa-pen-to-square"></i>EDITAR</a>
            </div>
          </article>
          <% }) %>
        </div>

        <% } else {%>
        <h1>No hay productos</h1>
        <% } %>
      </section>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
