<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

    <main>
      <div class="admin-actions">
        <a href="/user/editarRol"><button><i class="fa-solid fa-pen-to-square"></i>EDITAR ROLES</button></a>
      </div>

      <section class="admin-items-table">
        <div class="header-tabla-admin">
          <h4>AVATAR</h4>
          <h4>NOMBRE y APELLIDO</h4>
          <h4>EMAIL</h4>
          <h4>CATEGORÍA</h4>
          <h4>TELÉFONO</h4>
          <h4></h4>
        </div>
        <% if (usuarios.length>0) { %>
        <div class="row-tabla-admin">
          %> <% usuarios.forEach(usuario=> { %>

          <article>
           <div class="row-img-item">
            <img src="/images/avatar/<%=usuario.avatar %>" />
            </div>
            <p><%= usuario.nombre +' ' + usuario.apellido %></p>
            <p><%= usuario.email %></p>
            <p><%= usuario.categoria %></p>
            <% if (usuario.telefono) { %>
            <p><%= usuario.telefono %></p>
            <% } else { %>
              <p>No se enconto teléfono</p>
            <% } %>
            <div class="row-acciones-items">
              </div>
          </article>
          <% }) %>
        </div>

        <% } else {%>
        <% } %>
      </section>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>