<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

    <main class="user-profile">
      <section>
        <h1>
          <img
            src="../images/avatar/<%= usuario.avatar %>"
            alt=""
            class="profile-avatar"
          />
          <%= usuario.nombre %> <%= usuario.apellido %>
        </h1>
        <h2><i class="fa-solid fa-address-card"></i>Tu informacion</h2>
        <div class="profile-info" >
          <h3>
            <i class="fa-solid fa-envelope"></i> Email: <%= usuario.email %>
          </h3>

          <% if (usuario.telefono) { %>
          <h3><i class="fa-solid fa-phone"></i>Telefono: <%= usuario.telefono %></h3>
          <% } else { %>
          <h3>
            <i class="fa-solid fa-phone"></i>No tenemos tu telefono, completa tu
            perfil
          </h3>
          <% } %> <% if (usuario.direccion) { %>
          <h3><i class="fa-solid fa-location-dot"></i>Direccion: <%= usuario.direccion %></h3>
          <% } else { %>
          <h3>
            <i class="fa-solid fa-location-dot"></i>No tenemos tu direccion,
            completa tu perfil
          </h3>
          <% } %>
        </div>
        <div class="profile-info profile-actions">
          <a href="/user/profile/edit"><button>EDITAR MI INFORMACION</button></a>
        <a href="/user/profile/edit/password"><button>CAMBIAR CONTRASEÑA</button></a>
        </div>
      </section>
      <section>
        <h2><i class="fa-solid fa-receipt"></i> TUS COMPRAS</h2>
        <% ticketDetails.forEach(ticket => { %>
          <div class="profile-info">
            <p>Nro : <%= ticket.ticket.id %>  </p>  
            <p>Fecha: <%= new Date(ticket.ticket.createdAt).toLocaleDateString() %></p>
            <% let total = 0 %>
            <% ticket.products.forEach(producto => { %>
              <% total+= producto.cantidad * producto.precioFechaCompra %>
              <p><%= producto.cantidad%> X <%= producto.producto.nombre %> <% if (producto.talle) {%> Talle: <%=producto.talle.toUpperCase()  %><%}%>  U:$<%= producto.precioFechaCompra%></p>
              
            <% }) %>
            <p>Total: $<%= total %></p>
          </div>
        <% }) %>
       
       
          
      
        
      </section>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
