<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
<main>
    <h1 class="tituloAdd">Crear producto</h1>


<form class="formAdd" action="/product/crearproducto" method="post" enctype="multipart/form-data">
    <div class="formIzquierda">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre">
    
        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio">
    
        <label for="categorias">Categorías:</label>
        <select id="categorias" name="categorias">
          <option disabled selected><h4>Seleccionar categoría</h4></option>
          <% categorias.forEach(categoria => { %>
            <option value="<%= categoria.nombre %>"><%= categoria.nombre %></option>
          <% }) %>
        </select>
        <label>Talles disponibles :</label>
                  <div class="editar-talle">

                    <label for="talles">S <input type="number" id="talles" name="size" value=0 /></label>



                    <label for="tallem">M<input type="number" id="tallem" name="size"value=0 /></label>



                    <label for="tallel">L<input type="number" id="tallel" name="size"value=0 /></label>


                    <label for="tallexl">XL<input type="number" id="tallexl" name="size" value=0 /></label>


                    <label for="tallexxl">XXL<input type="number" id="tallexxl" name="size"value=0 /></label>

                  </div>
    </div>
    <div class="formDerecha">
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion"></textarea>
  
        <label class="subirImagen">
            <input class="input-img-crear" name="imagenes"  type="file" multiple/>
            Subir imagenes <i class="fa-solid fa-images"></i>
        </label>
        
        <button class="botonAdd" type="submit">Crear producto</button>
</form> 

</main>
<%- include('../partials/footer.ejs') %>
</body>
</html>