<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <main>
        <h1 class="tituloAdd">Crear producto</h1>


        <form class="formAdd" action="/product/crearproducto" method="post" enctype="multipart/form-data">
          <div class="formIzquierda">
            <label for="nombre">Nombre:</label>
            <span class="error-message" id="error-nombre"></span>
            <input type="text" id="nombre" name="nombre">
    
        
            <label for="precio">Precio:</label>
            <span class="error-message" id="error-precio"></span>
            <input type="number" id="precio" name="precio">

            <label for="categorias">Categorías:</label>
            <select id="categorias" name="id_categoria">
              <option  value="" class="default-option">Seleccione una categoría</option>
              <% categorias.forEach(categoria => { %>
              <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
              <% }) %>
            </select>


            </select>
            <label>Talles disponibles :</label>
            <label class="switch">
              <input type="checkbox" id="switchTalle">
              <span class="slider"></span>
            </label>
            <div class="editar-talle">
              <!-- ver script -->
              <label for="talles">S <input type="number" id="talleS" name="talles" value="0" /></label>
              <label for="tallem">M <input type="number" id="talleM" name="tallem" value="0" /></label>
              <label for="tallel">L <input type="number" id="talleL" name="tallel" value="0" /></label>
              <label for="tallexl">XL <input type="number" id="talleXL" name="tallexl" value="0" /></label>
              <label for="tallexxl">XXL <input type="number" id="talleXXL" name="tallexxl" value="0" /></label>
            </div>

            <span class="error-message" id="error-talles"></span>
            <span class="error-message" id="error-tallem"></span>
            <span class="error-message" id="error-tallel"></span>
            <span class="error-message" id="error-tallexl"></span>
            <span class="error-message" id="error-tallexxl"></span>
            <span class="error-message" id="error-talleUnico"></span>

          </div>
          <div class="formDerecha">
            <label for="descripcion">Descripción:</label>
            <span class="error-message" id="error-descripcion"></span>
            <textarea id="descripcion" name="descripcion"></textarea>
    
      
            <label class="subirImagen">
              <input class="input-img-crear" name="imagenes" type="file" multiple id="imageInput" onchange="previewImages(event)" />
              Subir imagenes <i class="fa-solid fa-images"></i>
            </label>
            <div class="error-message" id="error-imagenes"></div>
            <div id="imagePreview" class="image-preview"></div>
    
          
            <button class="botonAdd" type="submit">Crear producto</button>
    </form> 

      </main>
      <%- include('../partials/footer.ejs') %>
        
      <!-- <script src="/js/productEditCreateTalle.js"></script> -->
      <script src="/js/valiCreacion.js"></script>
      <script src="/js/preview.js"></script>


  </body>

</html>
