<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <main>
        <% if (locals.errors) { %>
          <div class="errores">
           <% errors.forEach(error => { %>
             <p> <%= error.msg %></p>
           <% }) %>
          </div>
         <% } %>
        <h1 class="tituloAdd">Editar Producto: <%= producto.nombre %></h1>

        <form class="formEdit" action="/product/<%=producto.id%>?_method=put" method="post" enctype="multipart/form-data">
          <div class="edit-box">
            <div class="formIzquierda">
              <label for="nombre">Nombre:</label>
              <input type="text" name="name" id="nombre" value="<%= producto.nombre %>" />

              <label for="precio">Precio:</label>
              <input type="text" name="price" id="precio" value="<%= producto.precio %>" />

              <label for="categorias">Categorías:</label>
              <select id="categorias" name="category">
                <option value="opcion1" disabled>Seleccionar categoria</option>
                <option  value="Buzos" <% if (producto.categoria=="Buzos") { %>
                  selected
                <% } %>>Buzos</option>
                <option value="Tote bag" <% if (producto.categoria=="Tote bag") { %>
                  selected
                <% } %>>Tote bag</option>
                <option value="Gorros de lana" <% if (producto.categoria==="Gorros de lana") { %>
                  selected
                <% } %>>Gorros de lana</option>
                <option value="Barbijos" <% if (producto.categoria==="Barbijos") { %>
                  selected
                <% } %>>Barbijos</option>
                <option value="Anteojos de sol" <% if (producto.categoria==="Anteojos de sol") { %>
                  selected
                <% } %>>Anteojos de sol</option>
                <option value="Remeras" <% if (producto.categoria==="Remeras") { %>
                  selected
                <% } %>>Remeras</option>
              </select>
            </div>
            <div class="formDerecha">
              <label for="descripcion">Descripción:</label>
              <textarea name="desc" id="descripcion" ><%= producto.descripcion %></textarea>

              
              <label>Talles disponibles :</label>
              <div class="editar-talle">
                
                <label for="talles">S <input type="number" id="talles" name="size" value="<%=producto.talles%>"/></label>
               

                
                <label for="tallem">M<input type="number" id="tallem" name="size" value="<%=producto.tallem%>"/></label>
                

                
                <label for="tallel">L<input type="number" id="tallel" name="size" value="<%= producto.tallel %>"/>
                </label>
                
                
                <label for="tallexl">XL<input type="number" id="tallexl" name="size"value="<%= producto.tallexl %>" /></label>
                
                
                <label for="tallexxl">XXL<input type="number" id="tallexxl" name="size" value="<%= producto.tallexxl %>"/></label>
                
              </div>
            </div>
          </div>
          <div class="edit-images">
            <% producto.imagenes.forEach(element=> { %>
              <div class="edit-imagex-trash">
                <img src="<%=element %>" />
                <input type="checkbox" id="<%=element %>" name="imgDelete" value="<%=element %>" />
                <label for="<%=element %>"><i class="fa-solid fa-trash"></i></label>

              </div>
              <% }) %>
          </div>
          <div class="edit-nuevas-images">
          <label for="new-images"><i class="fa-solid fa-cloud-arrow-up"></i>Subir nuevas imagenes</label>
            <input multiple type="file" name="images" id="new-images"/>
          </div>
          <!-- TODO ELIMINAR PRODUCTO -->
          <span><button type="submit" class="botonAdd" type="submit">ACTUALIZAR</button> <button class="botonEliminar"type="submit">ELIMINAR</button></span>
       
        </form>
    

          <a class="volver-producto" href="/product/<%=producto.id%>"><i class="fa-solid fa-arrow-left"></i>Volver a la pagina del producto</a>
      
        
        
      
      </main>
      <%- include('../partials/footer.ejs') %>
  </body>

</html>