<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

    <main >


      <section class="product-container">
        <div class="galeria">
          <div class="imagenes-producto">
            <% for( let index = 0; index < producto.imagenes.length; index++ ) { %>
              <img src="../<%= producto.imagenes[index]%>" alt="producto" class="img-detalle"  />
            <% } %>
           
          </div>
          <div class="radio-selector">
            <% for( let index = 0; index < producto.imagenes.length; index++ ) { %>
              <input type="radio" id="selector<%= index %>" name="radios" <% if (index==0) { %>
               checked
              <% } %> />
            <label for="selector<%= index %>"></label>
            <% } %>
           
          </div>
        </div>
        <div class="info-product">
          <h2>
           <%= producto.nombre %>
            <a href="a">
              <i class="fa-regular fa-star"></i>
            </a>
            <a href="a" class="share"
              ><i class="fa-solid fa-share-nodes"></i
            ></a>
          </h2>

          <p class="description">
            <%= producto.descripcion %>
          </p>
          <div class="product-talle-select">
            <p class="price">$<%= producto.precio %></p>
            <h3>Seleccione un talle</h3>
            <form action="/cart" method="get">
              <div >
                <div class="radio-button">
                  <input type="radio" id="radio1" name="radios" value="s" />
                  <label for="radio1">S</label>
                  <input type="radio" id="radio2" name="radios" value="m" />
                  <label for="radio2">M</label>
                  <input type="radio" id="radio3" name="radios" value="l" />
                  <label for="radio3">L</label>
                  <input type="radio" id="radio4" name="radios" value="xl" />
                  <label for="radio4">XL</label>
                  <input type="radio" id="radio5" name="radios" value="xxl" />
                  <label for="radio5">XXL</label>
                </div>

                <button type="submit" class="boton-negro">
                  Agregar al Carrito
                </button>
              </div>
            </form>
            <a href="/product/<%=producto.id%>/editform/"><button>EDITAR PRODUCTO</button></a>
          </div>
        </div>
      </section>
    </main>
    <%- include('../partials/footer.ejs') %>
      
    <script>
      //entiendo que asi como no se debe poner css en el html tampoco js pero es una solucion pasajera para lograr el selector de imagenes
      //dios como sufri buscando esto no recomiendo pasar el feriado haciendo esto
      //otro finde semana mejorando esto ahora que tengo una mejor comprension ya no utilizando codigo robado, esta salsa es casera

      const radios = document.querySelectorAll('input[name="radios"]');
      const imagesSelect = document.querySelectorAll('.img-detalle');
      
      
      imagesSelect[0].style.display = "block"
      
      

      radios.forEach(function (radio) {
        radio.addEventListener("change", function () {
          const selectedRadio = document.querySelector('input[name="radios"]:checked');
            for (let index = 0; index < imagesSelect.length; index++) {
              if (selectedRadio.id === "selector"+index) {imagesSelect[index].style.display = "block"
              } else {imagesSelect[index].style.display = "none"} 
            };
        });
      });
    </script>
  </body>
</html>
