<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
  <style>
    .edit-form{
      display: flex;
      flex-direction: column;
    }
  </style>
  <body>
    
    <%- include('../partials/header') %>

    <main>
      <form action="/product/edit/:id"  class="edit-form">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" value="<%= producto.nombre %>">
        <label for="nombre">Descripcion</label>
        <textarea name="descripcion" id="descripcion" placeholder="<%= producto.descripcion %>" cols="30" rows="10"></textarea>

        <label for="talles">Talle S</label>
        <input type="number" name="s" id="talles" value="<%= producto.talles %>">

        <label for="tallem">Talle M</label>
        <input type="number" name="m" id="tallem" value="<%= producto.tallem %>">

        <label for="tallel">Talle L</label>
        <input type="number" name="l" id="tallel" value="<%= producto.tallel %>">
        
        <label for="tallexl">Talle XL</label>
        <input type="number" name="xl" id="tallexl" value="<%= producto.tallexl %>">
        
        <label for="tallexxl">Talle XXL</label>
        <input type="number" name="xxl" id="tallexxl" value="<%= producto.tallexxl %>">
        <label for="precio">Precio</label>
        <input type="text" name="precio" id="precio" value="<%= producto.precio %>">
        <input type="file" name="imagenes" id="imagen">
        <button type="submit">Actualizar</button>

        <% producto.imagenes.forEach(element => { %>
              <img src="<%=element %>" >
        <% }) %>

      </form>
      
      <!-- TODO ELIMINAR PRODUCTO -->
      <button type="submit">Eliminar</button>
    </main>
    
    <%- include('../partials/footer.ejs') %>
    
  </body>

  </html>