<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

    <main>
      <% if (producto.deletedAt == true) { %>
      <h1>PRODUCTO DADO DE BAJA</h1>
      <% } %>
      <section class="product-container">
        <div class="galeria">
          <div class="imagenes-producto">
            <% producto.Imagenes.forEach(imagen => { %>
            <img
              src="/images/productos/<%= imagen.nombre %>"
              alt="producto"
              class="img-detalle"
            />
            <% }) %>
          </div>
          <div class="radio-selector">
            <% producto.Imagenes.forEach((imagen, index) => { %> <input
            type="radio" id="selector<%= index %>" name="radios" <%= index === 0
            ? 'checked' : '' %> />
            <label for="selector<%= index %>"></label>
            <% }) %>
          </div>
        </div>
        <div class="info-product">
          <h2>
            <%= producto.nombre %>
            
             <a href="javascript:void(0);" class="share" id="copyLink">
              <i class="fa-solid fa-share-nodes"></i>
            </a>
          </h2>

          <p class="description"><%= producto.descripcion %></p>
          <div class="product-talle-select">
            <p class="price">$<%= producto.precio %></p>
         <div>
              <% if (producto.talleUnico >= 1) { %>
                <h3>Talle Unico!</h3>
                <label for="cantidad">Cantidad: <input type="number" class="input-talleUnico" id="cantidad" name="cantidad" value="1" min="1" /></label>
                <input hidden type="radio" id="radio6" name="talle" value="unico" checked/>
              <% } else { %>
                <h3>Seleccione un talle</h3>
                <div class="radio-button">
                  <input type="radio" id="radio1" name="talle" value="s" <% if (producto.talleS === 0) { %>disabled<% } %> />
                  <label for="radio1" class="<%= (producto.talleS === 0) ? 'tachado' : '' %>">S</label>
                  <input type="radio" id="radio2" name="talle" value="m" <% if (producto.talleM === 0) { %>disabled<% } %> />
                  <label for="radio2" class="<%= (producto.talleM === 0) ? 'tachado' : '' %>">M</label>
                  <input type="radio" id="radio3" name="talle" value="l" <% if (producto.talleL === 0) { %>disabled<% } %> />
                  <label for="radio3" class="<%= (producto.talleL === 0) ? 'tachado' : '' %>">L</label>
                  <input type="radio" id="radio4" name="talle" value="xl" <% if (producto.talleXL === 0) { %>disabled<% } %> />
                  <label for="radio4" class="<%= (producto.talleXL === 0) ? 'tachado' : '' %>">XL</label>
                  <input type="radio" id="radio5" name="talle" value="xxl" <% if (producto.talleXXL === 0) { %>disabled<% } %> />
                  <label for="radio5" class="<%= (producto.talleXXL === 0) ? 'tachado' : '' %>">XXL</label>
                </div>
              <% } %>
            </div>
            
            <div>

              <button id="addCart" class="boton-negro">
                Agregar al Carrito
              </button>
            </div>

            <% if (locals.admin===true ||locals.superadmin===true ) { %>
            <a href="/product/<%=producto.id%>/editform/"
              ><button>EDITAR PRODUCTO</button></a
            >
            <% } %>
          </div>
        </div>
      </section>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="/js/productDetail.js"></script>
    <script src="/js/share.js"></script>
  </body>
</html>
